<%= turbo_frame_tag "reactions_#{disease_status.id}" do %>
  <%= button_to like_disease_disease_status_reactions_path(disease, disease_status),
    method: :post, class: "dash-post__interaction dash-post__interaction--reaction" do %>
    <i class="ri-thumb-up-line dash-post__interaction__icon"></i>
    <span class="dash-post__interaction__count">
      <%= disease_status.reactions.size %>
    </span>
  <% end %>
<% end %>
