POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres

REDIS_URL=redis://localhost:6379/0

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=password

GOOGLE_CLIENT_ID=xxx
GOOGLE_CLIENT_SECRET=xxx

OTP_SECRET_KEY=xxx
OTP_2FA_ISSUER_NAME=ChronLife
