.auth {
  width: 100%;
  height: 100vh;
  display: flex;

  &__content {
    flex-grow: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #dfdfdf;
    }
  }

  &__sidebar {
    width: 60%;
    position: relative;
  }

  &__credits {
    position: absolute;
    bottom: 50px;
    right: 50px;
    opacity: 0.1;
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 230px;
    }

    &__link {
      text-decoration: underline;
    }
  }

  &__header--center {
    justify-content: center;
  }

  &__main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    width: 400px;
  }

  &__heading {
    padding-bottom: 30px;
    text-align: center;
  }

  &__title {
    font-size: var(--30px);
  }

  &__desc {
  }

  &__social {
    padding-bottom: 30px;
  }

  &__social-link {
    display: flex;
    gap: 10px;
    background: #ffffff;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border: 1px solid $dash-base-border;
    border-radius: 5px;
    font-weight: 500;
    width: 400px;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: #fafafa;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__social-icon {
    width: 20px;
    height: 20px;
  }

  &__separator {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000000;
    margin-bottom: 30px;

    &__line {
      display: block;
      width: 100%;
      height: 1px;
      background: #000000;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__text {
    padding-bottom: 5px;
  }
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 30px;

  &__link {
    text-decoration: underline;
  }

  &__flash {
    padding: 10px 15px;
    background: #9ce8ff;
    border-radius: 3px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    font-size: var(--14px);
  }

  &__success {
    background: #caffa8;
    color: #244d0a;
  }

  &__alert {
    background: #ffc0c0;
    color: #6d1616;
  }

  &__error {
    padding-bottom: 20px;

    &__title {
      font-size: var(--16px);
      padding-bottom: 10px;
    }

    &__list {
      list-style-type: circle;
      list-style-position: inside;
      padding: 10px 20px;
      background: #ffc0c0;
      color: #6d1616;
      border-radius: 3px;
      font-weight: 400;
    }
  }

  &__input {
    width: 100%;
    padding: 12px 20px;
    // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    transition: border 0.1s ease-in-out;
    border-radius: 3px;
    font-size: var(--16px);
    border: 1px solid $dash-base-border;

    &::placeholder {
      color: #9b9b9b;
    }
  }

  &__input--error {
    border: 1px solid #ff5556;
  }

  &__error-message {
    color: #ff5556;
    font-weight: 500;
    display: block;
    padding-top: 5px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__label {
    display: block;
    font-weight: 500;
    padding-bottom: 5px;
  }

  &__submit {
    padding: 12px 20px;
    font-weight: 500;
    // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin-top: 20px;
    transition: background 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox-input {
    margin-right: 5px;
  }

  &__checkbox-label {
    user-select: none;
  }
}

.auth--signup {
  background: #fff7f7;

  .auth__sidebar {
    background: image-url("auth-sidebar-signup.jpg") no-repeat center center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #f4aaab;

    &:hover {
      background: #e69698;
    }
  }
}

.auth--login {
  background: #fffdf7;

  .auth__sidebar {
    background: image-url("auth-sidebar-login.jpg") no-repeat center center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #98c1a1;

    &:hover {
      background: #84b08d;
    }
  }
}

.auth--reset {
  background: #fff4ec;

  .auth__sidebar {
    background: image-url("auth-sidebar-reset.jpg") no-repeat center center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #ff9561;

    &:hover {
      background: #ff9561;
    }
  }
}

.auth--change-password {
  background: #fffbee;

  .auth__sidebar {
    background: image-url("auth-sidebar-change.jpg") no-repeat center center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #fdd76c;

    &:hover {
      background: #fdd76c;
    }
  }
}

.auth--setup {
  background: #f6fbff;

  .auth__sidebar {
    background: image-url("auth-sidebar-setup.jpg") no-repeat center right;
    background-size: cover;
  }

  .auth-form__submit {
    background: #aad9ff;

    &:hover {
      background: #9ad2ff;
    }
  }
}

.auth--2fa-code {
  background: #f5f9ff;

  .auth__sidebar {
    background: image-url("auth-sidebar-2fa.jpg") no-repeat center center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #5864c7;
    color: #ffffff;

    &:hover {
      background: #5864c7;
    }
  }
}
