.auth {
  width: 100%;
  height: 100vh;
  display: flex;

  &__content {
    flex-grow: 1;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background-color: #dfdfdf;
    }
  }

  &__sidebar {
    width: 60%;
    position: relative;
  }

  &__credits {
    position: absolute;
    bottom: 5rem;
    right: 5rem;
    opacity: 0.1;
  }

  &__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      width: 23rem;
    }

    &__link {
      text-decoration: underline;
    }
  }

  &__header--center {
    justify-content: center;
  }

  &__main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
    width: 40rem;
  }

  &__heading {
    padding-bottom: 3rem;
    text-align: center;
  }

  &__title {
    font-size: 3rem;
  }

  &__desc {
  }

  &__social {
    padding-bottom: 3rem;
  }

  &__social-link {
    display: flex;
    gap: 1rem;
    background: #ffffff;
    padding: 1.5rem 3rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    font-weight: 600;
    width: 40rem;
    transition: background 0.1s ease-in-out;

    &:hover {
      background: #fafafa;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__social-icon {
    width: 2rem;
    height: 2rem;
  }

  &__separator {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    color: #000000;
    margin-bottom: 3rem;

    &__line {
      display: block;
      width: 100%;
      height: 1px;
      background: #000000;
    }
  }

  &__link {
    text-decoration: underline;
  }

  &__text {
    padding-bottom: 0.5rem;
  }
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding-bottom: 3rem;

  &__group {
  }

  &__link {
    text-decoration: underline;
  }

  &__flash {
    padding: 1rem;
    background: #9cffae;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
  }

  &__success {
    background: #95d430;
  }

  &__alert {
    background: #ffe94a;
  }

  &__error {
    padding-bottom: 2rem;

    &__title {
      font-size: 2rem;
      padding-bottom: 1rem;
    }

    &__list {
      list-style-type: circle;
      list-style-position: inside;
      padding: 1rem 2rem;
      background: #ff5556;
      border: 0.2rem solid black;
      border-radius: 1rem;
      font-weight: 600;
    }
  }

  &__input {
    width: 100%;
    padding: 1.2rem 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.1rem;
    transition: border 0.1s ease-in-out;
    border-radius: 0.3rem;
    font-size: 1.6rem;
    border: 0;

    &::placeholder {
      color: #9b9b9b;
    }
  }

  &__input--error {
    border: 0.1rem solid #ff5556;
  }

  &__error-message {
    color: #ff5556;
    font-weight: 600;
    display: block;
    padding-top: 0.5rem;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__label {
    display: block;
    font-weight: 600;
    padding-bottom: 0.5rem;
  }

  &__submit {
    padding: 1.2rem 2rem;
    font-weight: 600;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem;
    margin-top: 2rem;
    transition: background 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox-input {
    margin-right: 0.5rem;
  }

  &__checkbox-label {
    user-select: none;
  }
}

.auth--signup {
  background: #fff7f7;

  .auth__sidebar {
    background: asset-url("auth-sidebar-signup.jpg") no-repeat center center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #f4aaab;

    &:hover {
      background: #e69698;
    }
  }
}

.auth--login {
  background: #fffdf7;

  .auth__sidebar {
    background: url("/assets/auth-sidebar-login.jpg") no-repeat center center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #98c1a1;

    &:hover {
      background: #84b08d;
    }
  }
}

.auth--reset {
  background: #fff4ec;

  .auth__sidebar {
    background: asset-url("/assets/auth-sidebar-reset.jpg") no-repeat center
      center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #ff9561;

    &:hover {
      background: #ff9561;
    }
  }
}

.auth--change-password {
  background: #fffbee;

  .auth__sidebar {
    background: asset-url("/assets/auth-sidebar-change.jpg") no-repeat center
      center;
    background-size: cover;
  }

  .auth-form__submit {
    background: #fdd76c;

    &:hover {
      background: #fdd76c;
    }
  }
}

.auth--setup {
  background: #edfff6;

  .auth__sidebar {
    background: url("/assets/auth-sidebar-setup.jpg") no-repeat center right;
    background-size: cover;
  }

  .auth-form__submit {
    background: #6cc884;

    &:hover {
      background: #56a36b;
    }
  }
}
