.dash-home {
  &__content {
    padding: 10px 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid $dash-base-border;

    &__right {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__title {
      font-size: var(--26px);
      display: flex;
      align-items: center;
      gap: 10px;

      &__icon {
        color: $dash-base;
      }
    }

    &__text {
      font-size: var(--14px);
      color: $dash-text-light;
    }

    &__date {
      display: flex;
      align-items: center;
      gap: 8px;
      color: $dash-text-dark;

      i {
        color: $dash-base;
      }
    }
  }

  &__flash {
    margin-bottom: 30px;
  }

  &__text {
    font-size: var(--14px);
    color: $dash-text-light;
  }

  &__group {
    display: flex;
    gap: 50px;

    &__left {
      width: 60%;
    }

    &__right {
      width: 40%;
    }
  }

  &__stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .dash-stat {
      border: 1px solid $dash-base-border;
      background: #ffffff;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px 10px;

      &__icon {
        width: 30px;
        height: 30px;
        padding: 10px;
        border-radius: 3px;
        background: #fff4ef;
        border: 1px solid #f3ded4;
        color: $dash-base;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        font-size: var(--14px);
      }

      &__content {
      }

      &__title {
        font-size: var(--14px);
        color: $dash-text-light;
        font-weight: 400;
      }

      &__text {
        font-size: var(--26px);
      }
    }
  }

  &__posts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
