.page-disease-symptoms {
  &__content {
    padding: 30px 0;
    border-bottom: 1px solid $dash-base-border;
  }

  .groups {
    display: flex;
    gap: 50px;

    .symptom-group {
      max-width: 500px;
      width: 50%;

      &__header {
        margin-bottom: 20px;
      }

      &__title {
        font-size: var(--22px);
        color: $dash-text-dark;
      }

      &__desc {
        font-size: var(--14px);
        color: $dash-text-light;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .symptom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        background: #ffffff;
        padding: 10px 20px;
        display: flex;
        border: 1px solid $dash-base-border;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba(22, 36, 65, 0.1);

        &--predefined {
          .symptom__icon {
            color: #ec7777;
          }
        }

        &--custom {
          .symptom__icon {
            color: #ecb977;
          }
        }

        &__group {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        &__name {
          display: block;
          font-weight: 600;
          color: $dash-text-dark;
          margin-bottom: 3px;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        &__link {
          display: block;
          text-decoration: underline;
          font-size: var(--14px);
          color: $dash-text-light;
        }

        &__icon {
          font-size: var(--16px);
          font-weight: 600;
          color: $dash-text-dark;
        }
      }
    }
  }
}
