.page-disease-statuses {
  &__content {
    padding: 30px 0;
    display: flex;
    border-bottom: 1px solid $dash-base-border;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
