.page-disease-statuses {
  &__content {
    padding: 30px 0;
    display: flex;
    border-bottom: 1px solid $dash-base-border;
    gap: 40px;
    justify-content: center;

    .disease-statuses-container {
      max-width: 800px;
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .disease-status {
      background: #ffffff;
      border-radius: 3px;
      border: 1px solid $dash-base-border;
      padding: 20px;
      width: 100%;
      display: flex;
      flex-direction: column;

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        &__left {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        &__right {
          display: flex;
          align-items: center;
          gap: 20px;
        }

        &__date {
          font-size: var(--14px);
          font-weight: 400;
          color: $dash-text-light;
        }

        &__user {
        }

        &__title {
          font-size: var(--16px);
          font-weight: 500;
        }

        &__username {
          font-size: var(--14px);
          font-weight: 400;
          color: $dash-text-light;
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      &__mood {
        font-size: var(--14px);
        font-weight: 400;
        color: $dash-text-light;
        display: flex;
        align-items: center;
        gap: 5px;
        font-weight: 500;

        &__icon {
          font-size: var(--18px);
          font-weight: 400;
        }

        &--sad {
          color: $color-danger;
        }

        &--normal {
          color: #208ed2;
        }

        &--happy {
          color: $color-success;
        }
      }

      &__photo {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }

      &__content {
        padding: 10px 0 20px;
        margin-left: 60px;
        border-bottom: 1px solid $dash-base-border;
      }

      &__title {
        font-size: var(--16px);
        font-weight: 500;
        color: $dash-text-dark;
      }

      &__text {
        &::first-letter {
          text-transform: uppercase;
        }
      }

      &__actions {
      }

      &__comments {
      }

      &__interactions {
        padding-top: 20px;
        margin-left: 60px;
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__interaction {
        border: 1px solid $dash-base-border;
        border-radius: 3px;
        padding: 5px 20px;
        font-size: var(--14px);
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.1s;

        &:hover {
          cursor: pointer;
        }

        &__icon {
        }

        &__count {
        }

        &--comment {
          &:hover {
            border: 1px solid $dash-base;
          }

          .disease-status__interaction__icon {
            color: $dash-base;
          }
        }

        &--reaction {
          &:hover {
            border: 1px solid #208ed2;
          }

          .disease-status__interaction__icon {
            color: #208ed2;
          }
        }
      }

      &__comments {
        border-top: 1px solid $dash-base-border;
        margin-top: 20px;
        padding: 20px 0 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 60px;

        &__empty {
          font-size: var(--14px);
          font-weight: 400;
          color: $dash-text-light;
        }
      }

      &__add-comment {
        padding: 20px 0 0;
        gap: 20px;
        margin-left: 60px;

        .add-comment-form {
          &__group {
            border: 1px solid $dash-base-border;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            border-radius: 5px;
          }

          &__footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 10px 20px;
          }

          &__body {
            padding: 20px;
            border-radius: 3px;
            font-size: var(--14px);
            color: $dash-text-dark;
          }

          &__actions {
            display: flex;
            align-items: center;
            gap: 10px;
          }

          &__action {
            font-size: var(--14px);
            color: $dash-text-light;
          }

          &__submit {
            font-size: var(--14px);
            color: $dash-base;
          }
        }
      }
    }
  }
}
