.page-diseases {
  &__content {
    padding: 30px 0;
    border-bottom: 1px solid $dash-base-border;
  }

  .no-results {
    text-align: center;
    color: $dash-text-light;
  }

  .diseases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .disease {
    position: relative;
    background: #ffffff;
    padding: 30px;
    display: flex;
    border: 1px solid $dash-base-border;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(22, 36, 65, 0.1);
    overflow: hidden;

    &__ribbon {
      position: absolute;
      top: 5%;
      right: -15%;
      background: $dash-base;
      width: 150px;
      height: 80px;
      transform: rotate(45deg);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__badges {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__badge {
      font-size: var(--12px);
      font-weight: 600;
      padding: 2px 10px;
      border-radius: 10px;
      margin-bottom: 20px;

      &--severity-1 {
        background: #ddffd9;
        color: #175a0e;
      }

      &--severity-2 {
        background: #d2edff;
        color: #0d3752;
      }

      &--severity-3 {
        background: #fff9c7;
        color: #393307;
      }

      &--severity-4 {
        background: #ffe2c8;
        color: #412309;
      }

      &--severity-5 {
        background: #ffd8d8;
        color: #570c0c;
      }
    }

    &__diagnosed {
      display: inline-block;
      color: $color-success;
      margin-left: 5px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    &__title {
      font-size: 20px;
      color: $dash-text-dark;
      font-weight: 600;
      margin-bottom: 6px;
      display: inline-block;

      &::first-letter {
        text-transform: capitalize;
      }
    }

    &__more {
      font-size: var(--14px);
      font-weight: 400;
      color: $dash-text-light;
      text-decoration: underline;
    }
  }
}
