.page-disease-risk-factors {
  &__content {
    padding: 30px 0;
    display: flex;
    gap: 40px;
    border-bottom: 1px solid $dash-base-border;

    .risk-factors {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 12px;

      &__item {
        width: 100%;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: var(--16px);
        cursor: pointer;
        color: $dash-text-dark;
        background: #ffffff;
        border: 1px solid $dash-base-border;
        border-radius: 3px;

        &__group {
          display: flex;
          align-items: center;
          gap: 15px;
        }

        &__title {
          &::first-letter {
            text-transform: uppercase;
          }
        }

        &__severity {
          font-weight: 400;
          font-size: var(--14px);
        }

        &__icon {
          display: block;
          font-size: var(--18px);
          font-weight: 500;
          color: $color-danger;
        }
      }
    }
  }
}
