.page-group {
  &__content {
    padding: 30px 0;
  }

  .group {
    max-width: 1200px;
    margin: 0 auto;

    &__cover {
      width: 100%;
      height: 120px;
      background: $dash-text-dark;
    }

    &__header {
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__right {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__back {
        padding: 10px 20px;
        height: 50px;
        background: #ffffff;
        border: 1px solid $dash-base-border;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
      }

      &__overtitle {
        font-weight: 500;
        color: $dash-base;
      }

      &__title {
        padding-bottom: 10px;

        &__text {
          display: inline-block;
        }

        &__text::first-letter {
          text-transform: uppercase;
        }
      }
    }

    &__nav {
      border-bottom: 1px solid $dash-base-border;
      padding-bottom: 30px;

      &__list {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__item {
        flex-grow: 1;
        flex-shrink: 0;
      }

      &__link {
        background: #ffffff;
        border: 1px solid $dash-base-border;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: var(--14px);
        padding: 10px;
        gap: 10px;

        &--active {
          border: 1px solid $dash-base;
          font-weight: 500;
        }
      }
    }

    &__content {
      padding: 30px 0;
    }
  }

  .add-post {
    border-bottom: 1px solid $dash-base-border;
    max-width: 800px;
    width: 600px;
    padding-bottom: 30px;

    &__label {
      padding-bottom: 10px;
      font-size: var(--14px);
    }

    &-form {
      background: #ffffff;
      border: 1px solid $dash-base-border;
      border-radius: 3px;
      flex-direction: column;
      align-items: stretch;

      &__body {
        padding: 20px;
        border-radius: 3px;
        font-size: var(--14px);
        color: $dash-text-dark;
        resize: none;
        width: 100%;
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        background: #ffffff;
      }

      &__actions {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__action {
        font-size: var(--14px);
        color: $dash-text-light;
      }

      &__submit {
        font-size: var(--14px);
        color: $dash-base;
      }
    }
  }

  .group-posts {
    padding: 30px 0;
    border-bottom: 1px solid $dash-base-border;

    &__empty {
      font-size: var(--14px);
      color: $dash-text-light;
    }
  }

  .group-symptoms {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .group-predefined-symptoms {
    &__text {
      font-size: var(--14px);
      color: $dash-text-light;
      max-width: 1000px;
      padding-bottom: 20px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }

    .predefined-symptom {
      background: #ffffff;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid $dash-base-border;
      border-radius: 3px;

      &__name {
        display: block;
        font-weight: 500;
        color: $dash-text-dark;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      &__count {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        color: $color-danger;
        background: #ffefef;
        font-weight: 600;
      }
    }
  }

  .group-custom-symptoms {
    &__text {
      font-size: var(--14px);
      color: $dash-text-light;
      max-width: 1000px;
      padding-bottom: 20px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    .custom-symptom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background: #ffffff;
      padding: 10px 20px;
      display: flex;
      border: 1px solid $dash-base-border;
      border-radius: 3px;
      // box-shadow: 0 2px 3px rgba(22, 36, 65, 0.1);

      &--predefined {
        .symptom__icon {
          color: #ec7777;
        }
      }

      &--custom {
        .symptom__icon {
          color: #ecb977;
        }
      }

      &__group {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &__name {
        display: block;
        font-weight: 500;
        color: $dash-text-dark;
        margin-bottom: 3px;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      &__account {
        display: block;
        font-size: var(--14px);
        color: $dash-text-light;
      }

      &__icon {
        font-size: var(--16px);
        font-weight: 500;
        color: $dash-base;
      }
    }
  }

  .group-risk-factors {
    &__text {
      font-size: var(--14px);
      color: $dash-text-light;
      max-width: 1000px;
      padding-bottom: 20px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }

    .risk-factor {
      width: 100%;
      padding: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: var(--16px);
      cursor: pointer;
      color: $dash-text-dark;
      background: #ffffff;
      border: 1px solid $dash-base-border;
      border-radius: 3px;

      &__group {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      &__title {
        &::first-letter {
          text-transform: uppercase;
        }
      }

      &__severity {
        font-weight: 500;
        color: $color-danger;
        font-size: var(--14px);
      }

      &__user {
        font-weight: 400;
        font-size: var(--14px);
        color: $dash-text-light;
      }

      &__icon {
        display: block;
        font-size: var(--18px);
        font-weight: 500;
        color: $color-danger;
      }
    }
  }
}
