.page-group {
  &__content {
    padding: 30px 0;
  }

  .group {
    max-width: 1200px;
    margin: 0 auto;

    &__header {
      padding-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__right {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__back {
        padding: 10px 20px;
        height: 50px;
        background: #ffffff;
        border: 1px solid $dash-base-border;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
      }

      &__overtitle {
        font-weight: 500;
        color: $dash-base;
      }

      &__title {
        padding-bottom: 10px;

        &__text {
          display: inline-block;
        }

        &__text::first-letter {
          text-transform: uppercase;
        }
      }
    }

    &__nav {
      border-bottom: 1px solid $dash-base-border;
      padding-bottom: 30px;

      &__list {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__item {
        flex-grow: 1;
        flex-shrink: 0;
      }

      &__link {
        background: #ffffff;
        border: 1px solid $dash-base-border;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: var(--14px);
        padding: 20px 10px;
        gap: 10px;

        &--active {
          border: 1px solid $dash-base;
          font-weight: 500;
        }
      }
    }

    &__content {
      padding: 30px 0;
    }
  }

  .add-post {
    border-bottom: 1px solid $dash-base-border;
    max-width: 800px;
    width: 600px;
    padding-bottom: 30px;

    &__label {
      padding-bottom: 10px;
      font-size: var(--14px);
    }

    &-form {
      background: #ffffff;
      border: 1px solid $dash-base-border;
      border-radius: 3px;
      flex-direction: column;
      align-items: stretch;

      &__body {
        padding: 20px;
        border-radius: 3px;
        font-size: var(--14px);
        color: $dash-text-dark;
        resize: none;
        width: 100%;
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 10px 10px 20px;
        background: #ffffff;
      }

      &__actions {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__action {
        font-size: var(--14px);
        color: $dash-text-light;
      }

      &__submit {
        font-size: var(--14px);
        color: $dash-base;
      }
    }
  }

  .group-posts {
    padding: 30px 0;
    border-bottom: 1px solid $dash-base-border;

    &__empty {
      font-size: var(--14px);
      color: $dash-text-light;
    }
  }
}
