.home {
  .nav {
    padding: 25px 0;
    background-color: #fffaee;
    border-bottom: 1px solid #efe9db;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    &__logo {
      width: 230px;
    }

    &__list {
      display: flex;
      align-items: center;
      gap: 30px;
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__button {
      padding: 12px 30px;
      border-radius: 3px;
      background-color: #fff;
      font-size: var(--14px);
      font-weight: 500;
      cursor: pointer;
      border: 1px solid transparent;

      &--login {
        background: #99968e;
        color: #fff;
        border: 1px solid #ccc8be;
      }

      &--register {
        background-color: #ec8117;
        color: #ffffff;
      }
    }
  }

  .hero {
    padding: 50px 0 50px;
    background-color: #fffaee;

    &__content {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__text-group {
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      padding-bottom: 10px;
      font-size: var(--46px);
      font-weight: 500;

      &__color {
        color: #ec8117;
      }

      &__emoji {
        font-size: var(--50px);
        font-weight: 400;
        color: #ec8117;
      }
    }

    &__overtitle {
      font-weight: 500;
      color: #ec8117;
      font-size: var(--14px);
      padding-bottom: 5px;
    }

    &__desc {
      max-width: 500px;
      font-size: var(--16px);
      color: #7a6f60;
      padding-bottom: 20px;
    }

    &__photo {
      max-width: 970px;
    }

    &__link {
      font-size: var(--16px);
      font-weight: 500;
      color: #ec8117;
      text-decoration: underline;
    }
  }

  .showcase {
    &__inner {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 50px;
    }

    &__group {
      display: flex;
      gap: 50px;

      &__left {
        width: 60%;
      }

      &__right {
        padding-top: 50px;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
      }

      &__photo {
        border-radius: 5px;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        border: 1px solid $dash-base-border;
      }

      &__title {
        font-size: var(--30px);
      }

      &__desc {
        color: #747474;
        font-size: var(--16px);
        line-height: 1.5;
      }

      &__link {
        font-size: var(--16px);
        font-weight: 500;
        color: #ec8117;
        text-decoration: underline;
      }
    }
  }

  .footer {
    padding: 20px 0;
    background-color: #1c1c1c;
    text-align: center;
    color: #ffffff;
    font-size: var(--14px);
  }
}
