.page-measurement-raports {
  &__content {
    padding: 30px 0;
  }

  .dash-group {
    max-width: 800px;
  }

  .raports-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .raport {
    display: flex;
    background: #ffffff;
    border: 1px solid $dash-base-border;
    border-radius: 3px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    &__left {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    &__right {
    }

    &__icon {
      color: $dash-base;
    }

    &__delete-icon {
      color: $color-danger;
      cursor: pointer;
    }

    &__id {
      font-size: var(--12px);
      color: $dash-text-light;
    }

    &__name {
      font-size: var(--16px);
      color: $dash-text-dark;
    }
  }
}
