.page-treatment {
  &__content {
    padding: 30px 0;
    display: flex;
    gap: 40px;

    &__left {
      flex-grow: 1;
    }

    &__right {
      max-width: 600px;
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex-shrink: 0;
    }

    .treatment-update-container {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 650px;
      margin: 0 auto;
    }

    .treatment-update {
      width: 100%;
      display: flex;
      gap: 20px;
      background: #ffffff;
      padding: 20px;
      border: 1px solid $dash-base-border;
      // box-shadow: 0px 2px 10px rgba(120, 120, 120, 0.1);
      border-radius: 3px;

      &__left {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__status {
        padding: 10px;
        background: $dash-base;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--18px);

        &--improvement {
          background: #cbf4dd;
          color: #106134;
        }

        &--no-change {
          background: #dcf3ff;
          color: #0b4561;
        }

        &--worsening {
          background: #ffe5e5;
          color: #8e1414;
        }
      }

      &__right {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        padding-bottom: 20px;
        border-bottom: 1px solid $dash-base-border;

        &__left {
          align-self: center;
        }

        &__name {
          font-weight: 500;
          color: $dash-text-dark;
          font-size: var(--16px);
          margin-bottom: 3px;

          &::first-letter {
            text-transform: uppercase;
          }
        }

        &__date {
          font-weight: 400;
          color: $dash-text-light;
          font-size: var(--14px);
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      &__text {
        &::first-letter {
          text-transform: uppercase;
        }
      }
    }

    .treatment-diseases-list {
      padding-bottom: 20px;
      border-bottom: 1px solid $dash-base-border;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .treatment-disease {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #ffffff;
      padding: 10px 10px 10px 20px;
      border: 1px solid $dash-base-border;
      border-radius: 3px;

      &__left {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      &__name {
        color: $dash-text-dark;
        font-weight: 500;

        &::first-letter {
          text-transform: uppercase;
        }
      }

      &__icon {
        font-weight: 400;
        color: $dash-base;
      }

      &__delete {
        color: $dash-text-light;
        font-size: var(--16px);
        background: $color-danger;
        padding: 5px 10px;
        border-radius: 3px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
