<div id="<%= dom_id article %>">
  <p>
    <strong>Titile:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body.html_safe %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= article.account_id %>
  </p>

</div>
