<%= form_with scope: :two_factor_setup, url: settings_two_factor_authentication_confirmations_path,
  method: :post, html: { class: "setup-2fa__form" }, local: false do |f| %>
  <div class="setup-2fa__form__group">
    <%= f.label :otp_attempt, "Podaj kod z aplikacji", class: "dash-form__label" %>
    <%= f.text_field :otp_attempt, class: "dash-form__input setup-2fa__form__submit",
                placeholder: "123456", autocomplete: false, required: true, autofocus: true %>
  </div>
  <div class="setup-2fa__form__group">
    <%= f.submit "Potwierdź", class: "dash-button dash-button--new" %>
  </div>
<% end %>
