<h1>Editing treatment update</h1>

<%= render "form", treatment_update: @treatment_update %>

<br>

<div>
  <%= link_to "Show this treatment update", @treatment_update %> |
  <%= link_to "Back to treatment updates", treatment_updates_path %>
</div>
