<p style="color: green"><%= notice %></p>

<h1>Treatment updates</h1>

<div id="treatment_updates">
  <% @treatment_updates.each do |treatment_update| %>
    <%= render treatment_update %>
    <p>
      <%= link_to "Show this treatment update", treatment_update %>
    </p>
  <% end %>
</div>

<%= link_to "New treatment update", new_treatment_update_path %>
