.dashboard {
  width: 100%;
  height: 100vh;
  display: flex;
  background: $dash-bg;

  &__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .header {
    width: 100%;
    background: $dash-header;
    height: 90px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $dash-base-border;
    flex-shrink: 0;

    &__logo {
      max-width: 180px;
    }

    &__title {
      font-size: var(--26px);
      color: $dash-text-dark;
    }

    &__main-button {
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 0 26px;
      font-weight: 500;
      font-size: var(--14px);
      color: #ffffff;
      background: $dash-base;
      border-radius: 3px;
      // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

      &__icon {
        font-size: var(--18px);
        font-weight: 400;
        color: #ffd2ba;
      }
    }

    &__search {
      display: flex;
      border-radius: 3px;
      // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
      border: 1px solid $dash-base-border;

      &__input {
        height: 40px;
        padding: 0 20px 0 10px;
        border-radius: 3px;
        background: #ffffff;
        min-width: 260px;
      }

      &__icon-container {
        height: 40px;
        border-radius: 3px;
        width: 40px;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__icon {
        font-size: var(--18px);
        color: #9e9e9e;
      }
    }

    &__links-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      gap: 10px;
    }

    &__right {
      display: flex;
      align-items: center;
      gap: 50px;
    }

    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
    }

    &__button {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #fff;
      border: 1px solid $dash-base-border;
      // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;

      &__icon {
        font-size: var(--20px);
        font-weight: 400;
        color: $dash-text-dark;
      }
    }

    &__profile {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &__profile-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    }
  }

  .sidebar {
    border-right: 1px solid $dash-base-border;
    width: 380px;
    background: $dash-sidebar;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    &__form-item {
      width: 100%;
    }

    &__profile {
      padding: 40px 30px;
      display: flex;
      align-items: center;
      gap: 20px;

      &__picture {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        // box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      }

      &__name {
        font-size: var(--16px);
        font-weight: 500;
        color: $dash-text-dark;
      }

      &__email {
        font-size: var(--14px);
        font-weight: 400;
        color: #686e79;
      }
    }

    &__logo-wrapper {
      background: $dash-sidebar;
      padding: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__logo {
      max-width: 220px;
    }

    &__nav {
      flex-grow: 1;
      padding: 0 30px 40px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      overflow-y: scroll;

      /* Firefox */
      & {
        scrollbar-width: thin;
        scrollbar-color: #ab8f14 #dfe9eb;
      }

      /* Chrome, Edge and Safari */
      &::-webkit-scrollbar {
        width: 5px;
        width: 5px;
      }
      &::-webkit-scrollbar-track {
        border-radius: 5px;
        background: 0;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #d3d3d3;
      }

      &__title {
        font-size: var(--14px);
        font-weight: 500;
        margin-bottom: 5px;
        color: #6f7379;
      }
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__link {
      padding: 6px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: var(--16px);
      cursor: pointer;
      border-radius: 3px;
      color: $dash-text-dark;

      &__group {
        display: flex;
        align-items: center;
        gap: 15px;
      }

      &__icon {
        display: block;
        font-size: var(--18px);
        font-weight: 400;
        color: $dash-base--dark;
      }
    }

    &__footer {
      padding: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      border-top: 1px solid $dash-base-border;

      &__icon {
        width: 20px;
        height: 20px;
        color: #7f8694;
      }

      &__text {
        font-size: var(--14px);
        font-weight: 400;
        color: $dash-text-dark;
      }
    }
  }

  .main {
    padding: 20px 50px;
    flex-grow: 1;
    overflow-y: scroll;
  }
}

.no-results {
  color: $dash-text-light;
  font-size: var(--14px);
}
