* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --22px: 1.375rem;
  --23px: 1.4375rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --26px: 1.625rem;
  --27px: 1.6875rem;
  --28px: 1.75rem;
  --29px: 1.8125rem;
  --30px: 1.875rem;
  --31px: 1.9375rem;
  --32px: 2rem;
  --33px: 2.0625rem;
  --34px: 2.125rem;
  --35px: 2.1875rem;
  --36px: 2.25rem;
  --37px: 2.3125rem;
  --38px: 2.375rem;
  --39px: 2.4375rem;
  --40px: 2.5rem;
  --41px: 2.5625rem;
  --42px: 2.625rem;
  --43px: 2.6875rem;
  --44px: 2.75rem;
  --45px: 2.8125rem;
  --46px: 2.875rem;
  --47px: 2.9375rem;
  --48px: 3rem;
  --49px: 3.0625rem;
  --50px: 3.125rem;
  --51px: 3.1875rem;
  --52px: 3.25rem;
}

body {
  font-family: "Montserrat", "sans-serif";
  font-size: var(--16px);
  font-weight: 400;
  line-height: 1.231;
  color: $dash-text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: var(--36px);
}

h2 {
  font-size: var(--30px);
}

h3 {
  font-size: var(--24px);
}

[type="text"] {
  border: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
