@font-face {
  font-family: "Oenos";
  src: font-url("oenos-regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Oenos";
  src: font-url("oenos-medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Oenos";
  src: font-url("oenos-semibold.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Oenos";
  src: font-url("oenos-bold.woff") format("woff");
  font-weight: 700;
}
