<div class="new-diseases">
  <header class="dash-header">
    <div class="dash-header__left">
      <h1 class="dash-header__title">Dodaj nową chorobę</h1>
      <%= render "shared/breadcrumbs" %>
    </div>
    <div class="dash-header__right">
      <%= link_to diseases_path, class: "dash-button dash-button--back" do %>
        <i class="ri-arrow-left-line dash-button__icon"></i>
        Powrót
      <% end %>
    </div>
  </header>
  <div>
    <%= render "form", disease: @disease %>
  </div>
</div>
