<div class="dash-pagination">
  <div class="dash-pagination__controls">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
  <div class="dash-pagination__info">
    <%== pagy_info(@pagy) %>
  </div>
</div>
