<div class="page-group">
  <div class="page-group__content">
    <div class="group">
      <%= render "groups/header" %>
      <%= render "groups/nav" %>
      <div class="group__content">

      </div>
    </div>
  </div>
</div>
