<h1>Editing specialist request</h1>

<%= render "form", admin_specialist_request: @admin_specialist_request %>

<br>

<div>
  <%= link_to "Show this specialist request", @admin_specialist_request %> |
  <%= link_to "Back to specialist requests", admin_specialist_requests_path %>
</div>
