<p style="color: green"><%= notice %></p>

<h1>Specialist requests</h1>

<div id="admin_specialist_requests">
  <% @admin_specialist_requests.each do |request| %>
    <div>
      <%= button_to "Odrzuć wniosek o lekarza", reject_admin_specialist_request_path(request), method: :post %>
      <%= button_to "Zaakceptuj wniosek o lekarza", approve_admin_specialist_request_path(request), method: :post %>
    </div>
  <% end %>
</div>
