$dash-bg: #fffcf9;
$dash-sidebar: #ffffff;
$dash-header: #fffcf9;

$dash-base: #f18449;
$dash-base--dark: #c55a21;
$dash-base-border: #e7e1d8;

$dash-text-dark: #232b39;
$dash-text-light: #727d92;

$color-success: #2da562;
