$dash-bg: #fffcf9;
$dash-sidebar: #ffffff;
$dash-header: #fffcf9;

$dash-base: #f18449;
$dash-base--dark: #c55a21;
$dash-base-border: #e7e1d8;

$dash-text-dark: #232b39;
$dash-text-light: #727d92;

$color-success: #2da562;
$color-danger: #e74c3c;

$role-specialist-light: #cae6ff;
$role-specialist-dark: #1a5b90;
$role-specialist-border: #cae6ff;
$role-specialist-bg: #f5faff;
$role-specialist-button-bg: #2e9fdc;
$role-specialist-button-color: #ffffff;
