<h1>Editing measurement</h1>

<%= render "form", measurement: @measurement %>

<br>

<div>
  <%= link_to "Show this measurement", @measurement %> |
  <%= link_to "Back to measurements", measurements_path %>
</div>
