.dash-button {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 26px;
  font-weight: 600;
  font-size: var(--14px);
  color: #ffffff;
  background: $dash-base;
  border-radius: 3px;

  &__icon {
    font-size: var(--16px);
    color: #ffd2ba;
    font-weight: 400;
  }
}

.dash-button--new {
  background: $color-success;
  color: #ffffff;

  .dash-button__icon {
    color: #bff3d6;
  }
}

.dash-button--back {
  background: #ffffff;
  border: 1px solid $dash-base-border;
  border-radius: 3px;
  color: $dash-text-dark;

  .dash-button__icon {
    color: #676767;
  }
}

.dash-button--return {
  background: #e2d6bd;
  color: #000000;

  .dash-button__icon {
    color: #000000;
  }
}

.dash-button--delete {
  background: #dd4040;
  color: #ffffff;

  .dash-button__icon {
    color: #ffe6e6;
  }
}

.dash-button--info {
  background: #ffe94a;
  color: #000000;

  .dash-button__icon {
    color: #000000;
  }
}

.dash-breadcrumbs {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--14px);
  color: $dash-text-light;

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;

    &--active {
      color: $dash-text-light;
    }
  }

  &__link {
    text-decoration: underline;

    &::first-letter {
      display: flex;
      text-transform: uppercase;
    }
  }
}

.dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid $dash-base-border;

  &__left {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    font-size: var(--26px);
    color: $dash-text-dark;

    &__icon {
      font-weight: 400;
      color: #f18449;
      margin-right: 5px;
    }

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__desc {
    color: $dash-text-light;
    max-width: 600px;
  }
}

.dash-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &__container {
    display: flex;
    border-bottom: 1px solid $dash-base-border;

    &--hidden {
      display: none;
    }
  }

  &__input {
    min-width: 300px;
    height: 40px;
    padding: 0 10px;
    border: 1px solid $dash-base-border;
    border-radius: 3px;
    font-size: var(--14px);
    color: $dash-text-dark;

    &[disabled] {
      background: #f1f1f1;
      color: #8e8e8e;
      border: 1px solid #dddddd;

      &:hover {
        cursor: not-allowed;
      }
    }

    &--error {
      border-color: #ea3333;
    }
  }

  &__textarea {
    height: 140px;
    padding: 10px;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 10px;

    &__label {
      font-size: var(--14px);
      font-weight: 600;
      color: $dash-text-dark;
      user-select: none;
    }
  }

  &__select {
    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__range {
    display: flex;
    align-items: center;
    gap: 20px;

    &__value {
      font-size: var(--14px);
      font-weight: 600;
      color: $dash-text-dark;
    }

    &__input {
      min-width: 100%;
      height: 40px;
      padding: 0 10px;
      border: 1px solid $dash-base-border;
      border-radius: 3px;
      font-size: var(--14px);
      color: $dash-text-dark;
    }
  }

  &__group {
    width: 800px;
    padding: 20px 0;

    &__container {
      display: flex;
      gap: 60px;
    }

    &__error {
      margin-top: 20px;
      padding: 10px 20px;
      background: #ffe5e5;
      color: #8e1414;
      font-size: var(--14px);
      display: flex;
      align-items: center;
      gap: 10px;

      span::first-letter {
        text-transform: uppercase;
      }
    }

    &__title {
      font-weight: 600;
      color: $dash-text-dark;
      padding-bottom: 3px;
    }

    &__description {
      color: $dash-text-light;
      font-size: var(--14px);
    }

    &__left {
      min-width: 300px;
      width: 300px;
      flex-basis: 300px;
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 0;
      gap: 10px;
    }

    &__error {
    }
  }

  &__submit {
    margin-top: 30px;
    align-self: flex-start;
    padding: 0 50px;
  }
}

.dash-alert {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 14px 20px;
  border-radius: 3px;
  font-size: var(--14px);
  color: #ffffff;
  margin: 20px 0;
  width: 100%;
  background: #dcf3ff;
  color: #0b4561;

  &--success {
    background: #e0ffee;
    color: #106134;
  }

  &--error {
    background: #ffe5e5;
    color: #8e1414;
  }

  &--info {
    background: #dcf3ff;
    color: #0b4561;
  }

  &__title {
    font-weight: 600;
    padding-bottom: 3px;
  }

  &__icon {
    font-size: var(--18px);
    font-weight: 400;
  }
}

.dash-pagination {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .pagy-nav {
    display: flex;
    gap: 10px;
    color: $dash-text-dark;
    font-size: var(--14px);

    .page {
      font-weight: 600;
    }

    .prev,
    .next {
      font-weight: 400;
    }

    .prev {
      padding-right: 10px;
    }

    .next {
      padding-left: 10px;
    }

    .gap {
      color: $dash-text-light;
      font-weight: 400;
    }

    .active {
      color: $dash-base;
      font-weight: 600;
    }
  }

  .pagy-info {
    color: $dash-text-dark;
    font-size: var(--14px);
  }
}
