<h1>Editing disease symptom</h1>

<%= render "form", disease_symptom: @disease_symptom %>

<br>

<div>
  <%= link_to "Show this disease symptom", @disease_symptom %> |
  <%= link_to "Back to disease symptoms", disease_symptoms_path %>
</div>
