<div id="<%= dom_id disease_symptom_update %>">
  <p>
    <strong>Intensity:</strong>
    <%= disease_symptom_update.intensity %>
  </p>

  <p>
    <strong>Update date:</strong>
    <%= disease_symptom_update.update_date %>
  </p>

  <p>
    <strong>Disease symptom:</strong>
    <%= disease_symptom_update.disease_symptom_id %>
  </p>

</div>
