<h1>New disease symptom update</h1>

<%= render "form", disease_symptom_update: @disease_symptom_update %>

<br>

<div>
  <%= link_to "Back to disease symptom updates", disease_symptom_updates_path %>
</div>
