<div class="page-account">
  <div class="page-account__container">
    <div class="dash-flash-messages">
      <%= turbo_frame_tag "flash" %>
    </div>
    <%= render "card" %>
    <div class="card-group">
      <header class="card-group__header">
        <div class="card-group__header__left">
          <h2 class="card-group__header__title">Informacje</h2>
        </div>
        <div class="card-group__header__right">
        </div>
      </header>
      <div class="card-group__content">
        <% if policy(@account).show? %>
          <p class="card-group__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero, quam.</p>
        <% else %>
          <p class="dash-text">Nie możesz wyświetlić tych informacji, ponieważ nie jesteście znajomymi.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
